boto3
botocore
Django
Jupyter
numpy
openpyxl
pandas
python-dotenv
requests
requests-mock
Jupyter
langchain
langchain-experimental
langchain-openai
lxml
networkx
numpy
openai
pandas==2.1.4
plotly
Requests==2.31.0
scipy
tweepy
-e .